<ion-header [translucent]="true" class="ion-no-border">
    <ion-toolbar>
        <ion-title>
            Fotosgram
        </ion-title>
        <ion-buttons slot="start">
            <ion-icon slot="icon-only" name="bonfire"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content color="light" class="ion-no-border">
    <!-- Refresher -->
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <!-- Posts -->
    <app-posts [posts]="posts"></app-posts>


    <!-- Infinite Scroll -->
    <ion-infinite-scroll threshold="300px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Getting more posts...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>